a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
  }

body {
    margin: 0px;
}

h3, h4, p {
    margin: 0px;
    padding: 0px;
}

@font-face {
    src: url(../fonts/OpenSans-Bold.ttf);
    font-family: Open Sans;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Open Sans;
    font-weight: 400;
}

.header {
    background-color: #0a0e34;
    position: relative;
}

.header::after {
    content: "";
    background-image: url("../images/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
    background-color: #0a0e34;

}

.container__for__logo {
    text-align: center;
}

.logo__text__surface {
    width: 38.75%;
    padding-top: 9.69%;
    padding-bottom: 41.88%;
    fill: #ffffff;
}

.title__1, .title__2 {
    font-size: 8.75vw;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px;
    display: block;
}

.title__1 {
    padding-left: 6.25%;
}

.title__2 {
    padding-left: 20%;
}

.social {
    text-align: center;
    padding-top: 27.81vw;
    padding-bottom: 26.25vw;
}

.App__Store__social, .Google__Play__social {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 2.81vw;
    color: #ffffff;
    text-transform: uppercase;
    width: 87.5vw;
    box-sizing: border-box;
    padding: 0.63vw 25.31vw;
    background-color: #5e42b0;
    z-index: 10;
    border-radius: 6.25vw;
    margin-left: auto;
    margin-right: auto;
 }

.App__Store__social {
    margin-bottom: 4.06vw;
}

.social__logo {
    width: 7.81vw;
    fill: #ffffff;
    padding-right: 2.5vw;
}

.bold {
    font-weight: bold;
}

.athlets {
    margin-top: 7.81vw;
    position: relative;
}

h3 {
    font-size: 15.63vw;
    color: #e7e7e7;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 74.38vw;
    padding-left: 6.25vw;
}

.athlet__image {
    display: block;
    width: 55.63vw;
    position: absolute;
    top: 25vw;
    left: 21.56vw;
}

.connection {
  padding-top: 25.31vw;
  background-color: #fafafa;
  padding-bottom: 15.31vw;
}

h4 {
    padding-left: 6.25vw;
    display: flex;
    font-size: 7.19vw;
    color: #c1c1c1;
    font-weight: bold;
    padding-bottom: 7.19vw;
    text-transform: uppercase;
}

.text {
    font-size: 4.69vw;
    padding-left: 6.25vw;
}

.number {
    color: #000000;
    font-size: 4.38vw;
    font-weight: bold;
    padding-right: 2.5vw;
}

.number::after {
    content: "";
    display: block;
    background-color: #5e42b0;
    width: 5.31vw;
    height: 1.25vw;
    border-radius: 30%;
}

.collaboration {
   background-color: #f5f4f9;
   padding-top: 25.31vw;
   padding-bottom: 15.31vw;
}

.growth {
  padding-top: 25.31vw;
  padding-bottom: 15.31vw;  
  background-color: #5e42b0;
}

.player__image {
    display: block;
    width: 94.06vw;
    position: absolute;
    top: 25vw;
    left: 3.13vw;
}

.special_1::after {
    content: "";
    display: block;
    background-color: #000000;
    width: 5.31vw;
    height: 1.25vw;
    border-radius: 30%;
}

.special__2 {
    color: #ffffff;
}

.players {
    margin-top: 7.81vw;
    position: relative; 
}

.special__3 {
    background-color: #090c35;
}

.special__4 {
    color: #5e42b0;
}

.special__4::after {
    content: "";
    display: block;
    background-color: #ffffff;
    width: 5.31vw;
    height: 1.25vw;
    border-radius: 30%;
}

@media (min-width: 768px) {

    .header::after {
        content: "";
        background-image: url("../images/football_1280.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.1;
        background-color: #0a0e34;
    }

    .social {
        display: flex;
        justify-content: center;
        padding-top: 40.63vw;
        padding-bottom: 11.98vw;
    }

    .App__Store__social, .Google__Play__social {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 1.82vw;
        color: #ffffff;
        text-transform: uppercase;
        width: 41.28vw;
        box-sizing: border-box;
        padding: 2.21vw 7.29vw;
        background-color: #5e42b0;
        z-index: 10;
        border-radius: 6vw;
        margin: 0px;
     }
     
     .App__Store__social {
        margin-right: 1.30vw;
    }
    
    .Google__Play__social {
        margin-left: 1.30vw;
    }
    
    .thumb {
        padding-right: 1.25vw;
    }
    
    .social__logo {
        width: 5.99vw;
        fill: #ffffff;
        margin: 0px;
        padding: 0px;
    }
    
    .thumb {
        margin: 0px;
    }

    .bold {
        font-weight: bold;
    }
    
    h3 {
        font-size: 10.41vw;
        margin-bottom: 2.21vw;
        padding-left: 38.02vw;
        position: relative;
    }

    .athlet__image {
        top: 0px;
        bottom: 0px;
        left: -20vw;
        right: 0px;
    }

    .connection {
        padding-top: 0px;
        background-color: #ffffff;
        padding-bottom: 4.69vw;
    }

    .number {
        font-size: 2.34vw;
    }

    .number::after {
        width: 2.47vw;
        height: 0.52vw;
    }

    h4 {
        padding-top: 4vw;
        padding-left: 38.02vw;
        font-size: 4.17vw;
        padding-bottom: 4.69vw; 
    }

    .text {
        font-size: 2.08vw;
        padding-left: 38.02vw;

    }

    .collaboration {
        padding-top: 0px;
        padding-bottom: 4.69vw;  
    }

    .growth {
        padding-top: 0px;;
        padding-bottom: 4.69vw;
    }

    .special__5 {
        padding-left: 4.04vw;
    }
}

@media (min-width: 1920px) {

    .header::after {
        content: "";
        background-image: url("../images/football_1920.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.1;
        background-color: #0a0e34;
    }

    .logo__text__surface {
        width: 9.94%;
        padding-top: 2.34%;
        padding-bottom: 15.4%;
        fill: #ffffff;
    }

    .title__1, .title__2 {
        font-size: 3.38vw;
        margin: 0px;
    }

    .title__1 {
        padding-left: 20.15%;
    }
    
    .title__2 {
        padding-left: 35.66%;
    }

    .social {
        display: flex;
        justify-content: center;
        padding-top: 11.41vw;
        padding-bottom: 5.73vw;
    }

    .App__Store__social, .Google__Play__social {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 0.73vw;
        color: #ffffff;
        text-transform: uppercase;
        width: 16.13vw;
        box-sizing: border-box;
        padding: 1.2vw 2.03vw;
        background-color: #5e42b0;
        z-index: 10;
        border-radius: 1.56vw;
        margin: 0px;
     }
     
     .App__Store__social {
        margin-right: 1.3vw;
    }
    
    .Google__Play__social {
        margin-left: 1.3vw;
    }
    
    .thumb {
        padding-right: 1.25vw;
    }
    
    .social__logo {
        width: 2.03vw;
        fill: #ffffff;
        margin: 0px;
        padding: 0px;
    }

    .special__7 {
        margin-left: 1.15vw;
    }
    
    .thumb {
        margin: 0px;
    }

    .bold {
        font-weight: bold;
    }
} 